#app {
    height: 100vh;
    text-align: center;
}

.top-bar {
    margin: 10px;
}

.main {
    display: flex;
    height: calc(100% - 80px);
}

.left {
    width: 100px;
    padding: 10px;
}

.center {
    flex: 1;
    padding: 10px;
}

.right {
    width: 40%;
    padding: 10px;
    overflow: auto;
    background-color: #1B2636;
    text-align: left;
}

.items {
    width: 100%;
    border-collapse: collapse;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    cursor: pointer;
    padding: 2px 4px;
}

.list li.selected {
    background-color: #e0e0e0;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.console {
    text-align: left;
    background-color: #000;
    color: #00ff00;
    padding: 10px;
    margin-top: 20px;
    overflow: auto;
    max-height: 300px;
}
