@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'Nunito', ui-sans-serif, system-ui;
  background-color: #0f172a; /* slate-900 */
  color: #f1f5f9; /* slate-100 */
}

.workspaces-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tabs {
  display: flex;
  background-color: #1e293b;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom-color: #38bdf8;
}

.tab.add {
  padding: 0.5rem;
}

